*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
	flex-wrap:wrap-reverse;
}
.container{
	width: 100%;
	height: 450px;
	margin: 0px auto; 
	background-color: #333;
}
.header{
	background-image: url(../images/bg1.png);
	background-repeat: no-repeat;
	height: 450px;
	width: 100%;
	background-size: cover;
	text-align: center;
	color: white;
	position: relative;
}

h1{
	padding-top: 100px;
	font-size: 30px;
}

.header p{
	font-size: 18px;
	padding-top: 20px;
}
 .btn {
	padding:20px 35px;
	font-size: 18px;
	background-color: #333;
	border:1pt ridge grey;
	color: white;
	margin-top: 20px;
}

 .header .btn:hover {
	background-color: white;
	cursor: pointer;
	color: black;
 }

 .sec{
 	height: 250px;
 	width: 100%;
 	text-align: center;
 	font-size: 18px;    
 	background: rgb(234, 234, 234);
 	position:relative;
 }

 .sec h2{
 	font-size: 23px;
 	padding-top: 30px;

 }
 .block1{
 	float: left;
 	width: 32%;
 	margin-left: 200px;
 	margin-top: 30px;
 }
 .block2{
 	float:left;
 	width: 30%;
 	margin-left: 20px;
 	margin-top: 30px;
 }
 .back{
 	width: 100%;
 	height:500px;
 	display: block;
 	background-color: #333;
 }
 .section{
 	width: 64%;
 	height: 440px;
 	position: absolute;
 	margin: 30px 230px;
 }
.sec1{
	background-image: url(../images/bg2.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 440px;
	width: 31%;
	margin: 0px 0px;
	float: left;
	text-align: center;
	color: white;
	font-weight: 100px;

}
.sec2{
	background-image: url(../images/bg3.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: red;
	height: 440px;
	width: 31%;
	margin:0px 20px;
	float: left;
	text-align: center;
	color: white;
	font-weight: 30px;
}

.sec3{
	background-image: url(../images/bg4.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: red;
	height: 440px;
	width: 31%;
	float: left;
	text-align: center;
	color: white;
	font-weight: 100px;
}
  .sec3 h3 {
	padding-top:  180px;
}
 
 .sec1 h3 {
	padding-top: 180px;
}
 .sec2 h3 {
	padding-top: 180px;
}
.sec3 p {
	padding-top:  20px;
}
 
 .sec1 p {
	padding-top: 20px;
}
 .sec2 p {
	padding-top: 20px;
}
.section2{
height: 200px;
width: 100%;
text-align: center;
}
.section2 h2{
	margin-top: 40px;
	font-size: 28px;
}
 .section2 p{
 	font-size: 18px;
 	font-weight: 20px;
 	margin-top: 50px;
 }
.div{
	width: 100%;
	height: 300px;
	color: white;
}
.div1{
	width: 50%;
	height: 300px;
	background-color: #2690d4;
	float: left;
	text-align: center;
}
.div2{
	width: 50%;
	height: 300px;
	background-color: #333;
	float: left;
	text-align: center;
	
}
.div1 h2{
	padding-top: 60px;
	font-size: 25px;
	
}
.div2 h2{
	padding-top: 60px;
	font-size: 25px;
	
}
.div1 p{
	padding: 40px 40px;
	font-size: 16px;
}
.div2 p{
	padding-top: 40px;
	font-size: 16px;
}
.footer{
	width: 100%;
	height: 130px;
	background-color: black;
	font-size: 12px;
}
.footer1{
	float: left;
	color: white;
	padding: 40px 200px;
}
 .footer2{
	float: right;
	color: white;
	padding: 40px 200px;
}
span{
	color: #2690d4;
}
@media screen and (max-width: 1024px){	
		.sec {
			font-size:14px;
		}
		.section{
			margin: 30px 190px;
		}
		.footer2{
			float: none;
			text-align: center;
		}
}
@media screen and (max-width: 768px){

 .sec{
  	font-size: 13.5px;    
 }
 .block1{
 	margin: 40px 42px;
 	float: left;
 	width: 40%;
 }
 .block2{
 	margin: 40px 10px;
 	float: left;
 	width: 40%;
 }
 .back{
 	height: 450px;
 }
 .section{
 	width: 85%;
 	height: 400px;
 	margin: 25px 60px;

 }
 .sec1{
 	width: 31%;
 	height: 400px;

 }
.sec2{
	width: 31%;
	height: 400px;

}
.sec3{
	width: 31%;
	height: 400px;
}
.section2{
height: 170px;
width: 100%;
text-align: center;
}
.section2 h2{
	margin-top: 40px;
	font-size: 20px;
}
 .section2 p{
 	font-size: 15px;
 	font-weight: 20px;
 	margin-top: 25px;
 }
 
.div1{
	width: 50%;
	height: 300px;
	background-color: #2690d4;
	float: left;
}
.div2{
	width: 50%;
	height: 300px;
	background-color: #333;
	float: left;
}
.div1 h2{
	padding-top: 40px;
	font-size: 20px;
	
}
.div2 h2{
	padding-top: 40px;
	font-size: 20px;
	
}
.div1 p{
	padding: 20px 30px;
	font-size: 15px;
}
.div2 p{
	padding-top: 20px;
	font-size: 15px;
}
.div1 h4{
	margin: 15px;
	font-size: 15px;
}
.footer{
	width: 100%;
	height: 80px;
	font-size: 13px;
}
.footer1{
	float: left;
	color: white;
	padding: 30px 100px;
}
 .footer2{
	float: right;
	color: white;
	padding: 30px 120px;
}
@media screen and (max-width:425px){
	.header h1{
		font-size: 35px;
		padding-top: 110px;
		padding-left: 30px;
		padding-right: 30px;
		line-height: 50px;
	}
	.header p{
		line-height: 30px;
		width: 97%;
		padding-top: 10px;
	}
		.header .btn {
		padding-top: 30px;
	}
	.btn{
		padding: 20px 30px;
	}
	.sec{
		height: 350px;	
	}
	.sec h2{
		font-size: 30px;
	}
	.block1{
		font-size: 18px;
		width:100%;
		margin: 0px;
		padding-top: 30px;
	}
	.block2{
		font-size: 18px;
		width:100%;
		margin: 0px;
		padding: 0px 0px;
	}
	.back{
		height: 1560px;
	}
	.section{
		width: 90%;
		height: 1226px;
		margin: 0px 20px;
	}
	.sec1{
		float: left;
		width: 100%;
		margin-bottom: 10px;
		height: 500px;
		margin-top: 20px;
	}
	.sec2{
		float: left;
		width: 100%;
		margin: 0px;
		height: 500px;
		margin-bottom: 10px;
	}
	.sec3{
		float: left;
		width: 100%;
		height: 500px;
		margin-bottom: 10px;
	}
	.section2{
		height: 260px;
	}
	.section2 h2{
		font-size: 28px;
	}
	.section2 p{
		font-size: 18px;
	}
	.div{
		height: 720px;
	}
	.div1{
		width: 100%;
		height: 360px;
	}
	.div2{
		width: 100%;
		height: 360px;
	}
	.div1 h2{
		font-size: 30px;
		margin-top: 20px;
	}
	.div2 h2{
		font-size: 30px;
		margin-top: 20px;
	}
	.div1 p{
		font-size: 18px;
		margin-top: 25px;
	}
	.div2 p{
		font-size: 18px;
		margin-top: 40px;
	}
	.footer{
		height: 120px; 
		border: 1 px solid ;
	}
	.footer2{
		float: left;
		margin: -30px 130px;
		padding: 0px 0px;
		font-size: 15px;
	}
}
	@media screen and (max-width:375px){
		.header h1{
			padding-top:70px;
		}
	   .header p{
	   	font-size: 15px;border: 
	   	width: 100%;
	   	line-height: 1.5;
		}
		.btn{
			padding-top: 5px;
			padding-left: 30px;
			margin: 20px 0px;
		}
		.sec p{
			font-size:16.5px;
			line-height: 1.7;
		}
		.section2 h2{
			font-size: 25px;
			padding: 10px 30px;
		}
		.section2 p{
			font-size: 17px;
			line-height: 1.5;
			padding: 0px 50px;
		}
		.div2{
			line-height: 1.5;
		}
		.footer{
			font-size: 10px;
		}
		.footer2{
			font-size: 11px;
		}
	}
		@media screen and (max-width:320px){
			.header p {
					font-size: 18px;
					width: auto;
					line-height:1.6;
			}
			.header .btn {
				margin-top: 40px;
			}
			.container {
				height:500px ;
			}
			.sec{
				width: 100%;
				height: 450px;
			}
			.block1{
				width:250px;
				margin: 5px 30px ;
				height: 150px;
				font-size: 12px;
				float: left;
			}
			.block2{
				width: 250px;
				margin: 0px 30px;
				height: 150px;
				float: left;
			}
			.section{
				margin: 0px 16px;
			}
			.section2{
				height: 300px;
			}
			.div1 h2{
				font-size: 20px;
			}
			.div2 h2{
				font-size: 20px;
			}
			.div2 p{
				padding: 0px;
			}
			.footer{
				font-size: 12px;
			}
			.footer1{
				padding:10px 66px;
			}
			.footer2{
				margin: 0px 104px;
			}
		}


